<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.ar.core.unity.manifestsettings"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="14"/>
    <application>
        <meta-data
            android:name="com.google.android.ar.API_KEY"
            android:value="AIzaSyDU_aiOIqiLCE_-7w22Yu-l-Y8hYE_aUE8"/>
    </application>
</manifest>